.page-header {
    width: 100%;
    height: 200px;
    background-color:#A7C7E7;
    padding-top: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#page-title {
    display: inline-block;
    width: 50%;
    text-align: left;
}

#page-back {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.page-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
}

#settings-div {
    background-color: #A7C7E7;
    width: fit-content;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin: auto;
}

.settings-info {
    padding-top: 10px;
    padding-bottom: 10px;
}

.create-btn {
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: right;
}